@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased selection:bg-emerald-100 selection:text-emerald-900;
  }
}

/* Custom scrollbar for mobile feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }